MouseInfo==0.1.3
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225416355/work/dist/numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=14c628943f67e9c10d22faa9c1cdcbf69c3192e88f2f597d03b77a252e589567
opencv-python==4.9.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1710075952259/work
pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1704252136304/work
PyAutoGUI==0.9.54
pyobjc-core @ file:///Users/runner/miniforge3/conda-bld/pyobjc-core_1702119469108/work
pyobjc-framework-ApplicationServices @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-applicationservices_1704981860483/work
pyobjc-framework-Cocoa @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-cocoa_1702125496150/work
pyobjc-framework-CoreText @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-coretext_1705328013213/work
pyobjc-framework-Quartz @ file:///Users/runner/miniforge3/conda-bld/pyobjc-framework-quartz_1702307990206/work
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pytesseract @ file:///home/conda/feedstock_root/build_artifacts/pytesseract_1697399219056/work
python-xlib @ file:///home/conda/feedstock_root/build_artifacts/python-xlib_1672238408014/work
pytweening==1.2.0
rubicon-objc==0.4.7
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
